Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1: A database is a structured collection of data that is organized and stored electronically in a computer system. It allows for efficient data retrieval, manipulation, and management. SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of database management systems:

 SQL databases are relational databases that store data in tables with predefined schemas. They use SQL for    
 querying and managing data. Examples include MySQL, PostgreSQL, and Oracle.
 NoSQL databases are non-relational databases that store data in flexible schemas, such as key-value pairs, 
 documents, or graphs. They are designed for scalability, flexibility, and handling unstructured data. Examples 
 include MongoDB, Cassandra, and Redis.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2: DDL (Data Definition Language) is a subset of SQL used to define, modify, and manage the structure of database objects. Common DDL commands include:

CREATE: Used to create new database objects such as tables, indexes, or views. Example: `CREATE TABLE Employees (ID INT, Name VARCHAR(50), Age INT);`
DROP: Used to delete existing database objects. Example: `DROP TABLE Employees;`
ALTER: Used to modify the structure of existing database objects. Example: `ALTER TABLE Employees ADD COLUMN Department VARCHAR(50);`
- TRUNCATE: Used to remove all data from a table, but keep the table structure intact. Example: `TRUNCATE TABLE Employees;`

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A3: DML (Data Manipulation Language) is a subset of SQL used to manipulate data within database objects. Common DML commands include:

INSERT: Used to add new records (rows) into a table. Example: `INSERT INTO Employees (ID, Name, Age) VALUES (1, 'John', 30);`
UPDATE: Used to modify existing records in a table. Example: `UPDATE Employees SET Age = 35 WHERE ID = 1;`
DELETE: Used to remove records from a table. Example: `DELETE FROM Employees WHERE ID = 1;`

Q4. What is DQL? Explain SELECT with an example.

A4: DQL (Data Query Language) is a subset of SQL used to retrieve data from a database. The most common DQL command is SELECT:

SELECT: Used to retrieve data from one or more tables. Example: `SELECT * FROM Employees WHERE Age > 30;`

Q5. Explain Primary Key and Foreign Key.

A5: 
Primary Key: A primary key is a unique identifier for a record in a table. It ensures that each row in the table can be uniquely identified. Primary keys must be unique and cannot contain NULL values.
 Foreign Key: A foreign key is a column or combination of columns in a table that establishes a relationship with another table's primary key. It enforces referential integrity by ensuring that the values in the foreign key column(s) correspond to existing values in the referenced table's primary key column(s).

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

```python
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="mydatabase"
)

# Create cursor object
cursor = conn.cursor()

# Execute SQL query
cursor.execute("SELECT * FROM Employees")

# Fetch results
results = cursor.fetchall()
for row in results:
    print(row)

# Close cursor and connection
cursor.close()
conn.close()
```

Explanation:
 `cursor()`: The `cursor()` method creates a cursor object that allows Python code to interact with the MySQL database.
`execute()`: The `execute()` method executes an SQL query passed as a parameter to the method. It is used to perform database operations such as querying, inserting, updating, or deleting data.

Q7. Give the order of execution of SQL clauses in an SQL query.

A7: The order of execution of SQL clauses in an SQL query is as follows:

1. SELECT
2. FROM
3. WHERE
4. GROUP BY
5. HAVING
6. ORDER BY